body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

canvas {
    background: #ffffff;
    display: block;
    margin: 10px auto;
    border: 2px solid #333;
}

#indicators {
    font-size: 15px;
    background: #fff;
    padding: 7px 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#maintenance {
    color: red;
}


kbd {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 4px;
    font-size: 13px;
}